@import '~antd/dist/antd.css';

body, html, #root {
  margin: 0;
  height: 100%;
}

.mainview {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #2DB494;
}

.mainview .header {
  text-align: center;
}

.main-title {
  font-weight: bolder !important;
  font-size: 48px !important;
  color: #FF5F5C !important;
}

.mainview .footer {
  text-align: center;
}

.main-card {
  height: 410px;
  overflow: auto;
}

.codeview {
  display: flex;
  flex-direction: column;
  width: max-content;
  white-space: pre-wrap;
}

.button-container {
  padding: 48px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titles {
  color: #29A387 !important;
}




